@model UserViewModel
@* Create/Edit new playlist modal *@
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="createPlaylistModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new playlist</h4>
                </div>
                <form id="createPlaylist">
                    <div class="modal-body">
                        <div class="form-group">
                            <h2>Playlist Title:</h2>
                            <input required name="playlistTitle" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <h2>Description:</h2>
                            <textarea name="playlistDescription" type="text" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>