<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SpotifyConnectionString" 
         connectionString="Data Source=mssql.fhict.local;Initial Catalog=dbi387964;Integrated Security=False;User ID=dbi387964;Password=gratisserver;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>